$home:'../../../starter-code/assets/home/background-home-desktop.jpg';
$home-mb:'../../../starter-code/assets/home/background-home-mobile.jpg';
$home-tb:'../../../starter-code/assets/home/background-home-tablet.jpg';

$destination:'../../../starter-code/assets/destination/background-destination-desktop.jpg';
$destination-mb:'../../../starter-code/assets/destination/background-destination-mobile.jpg';
$destination-tb:'../../../starter-code/assets/destination/background-destination-tablet.jpg';

$crew:'../../../starter-code/assets/crew/background-crew-desktop.jpg';
$crew-mb:'../../../starter-code/assets/crew/background-crew-mobile.jpg';
$crew-tb:'../../../starter-code/assets/crew/background-crew-tablet.jpg';

$technology:'../../../starter-code/assets/technology/background-technology-desktop.jpg';
$technology-mb:'../../../starter-code/assets/technology/background-technology-mobile.jpg';
$technology-tb:'../../../starter-code/assets/technology/background-technology-tablet.jpg';


