$home:'../../../starter-code/assets/home/background-home-desktop.jpg';
$destination:url('../../../starter-code/assets/destination/background-destination-desktop.jpg');
$crew:url('../../../starter-code/assets/crew/background-crew-desktop.jpg');
$technology:url('../../../starter-code/assets/technology/background-technology-desktop.jpg');