@mixin text($font,$style,$weight:400,$size,$transform:none,$height){
    font-family: $font;
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
    text-transform: $transform;
    line-height: $height;
}
@mixin media-mb{
    @media only screen and (max-width:425px ) {
        @content;
    }
}