.crew{
    top:300px;
    .firstparagraph{
        font-size: 32px !important;
        line-height: 37px !important;
        opacity: 0.5;
        color: white;
    }
    .secondparagraph{
        font-size: 56px !important;
        line-height: 64px !important;
    }
}
.crewImgContainer{
    position: absolute;
    right:50px;
    top:135px;
}
.btnCrewContainer{
    position: absolute;
    width: 150px;
    height: 15px;
    left: 167px;
    bottom: 100px;
    .btnCrew{
        width: 15px;
        height: 15px;
        background-color: white;
        display: inline-block;
        margin: 0 10px;
        border-radius: 50%;
        opacity: 0.17;
    }
    .active{
        opacity: 1;
    }
}